spring:
  application:
    name: product_service
  datasource:
    url: jdbc:postgresql://localhost:5432/ecom-product-db
    username: haoxugt
    password: password
  jpa:
    database: POSTGRESQL
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update

server:
  port: 8081